
<!-- ARNO'S ROYGBIV IS MAST -->

		<script src="assets/js/roygbiv/libs/three.min.js"></script>
		<script src="assets/js/roygbiv/libs/Projector.js"></script>
		<script src="assets/js/roygbiv/libs/Detector.js"></script>
		<script src="assets/js/roygbiv/libs/TrackballControls.js"></script>
		<script src="assets/js/roygbiv/libs/VTKLoader.js"></script>
		<!--<script src="js/libs/Detector.js"></script>
		<script src="js/libs/stats.min.js"></script>-->
		<script src="assets/js/roygbiv/libs/jquery.min.js"></script>
		<script src="assets/js/roygbiv/libs/d3.min.js"></script>
        <script src="assets/js/roygbiv/libs/box.js"></script>
        <script src="assets/js/roygbiv/libs/sprintf.js"></script>
		<script src="assets/js/roygbiv/libs/angular.min.js"></script>

        <script src="assets/js/roygbiv/brain.utils.js"></script>
        <script src="assets/js/roygbiv/brain.js"></script>
		<script src="assets/js/roygbiv/boxplot.js"></script>
	<!--	<script src="assets/js/roygbiv/underscore-min.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

		<script src="assets/js/smooth-scroll.js"></script>


{% if page.header == NULL and page.header.image_fullwidth == NULL and page.header.pattern == NULL and page.header.background-color == NULL and page.header.title == NULL %}

<div id="masthead-no-image-header">
	<div class="row">
		<div class="small-12 columns">
			<a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
				<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
			</a>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}





{% elsif page.header.title %}

<div id="masthead-with-text" style="{% if page.header.background-color %}background: {{ page.header.background-color }};{% endif %} {% if page.header.image_fullwidth %}{% elsif page.header.pattern %}background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('{{ site.urlimg }}/{{ page.header.pattern }}'){% endif %}">
	<div class="row">
		<div class="small-12 columns">
			<div class="masthead-title">{{ page.header.title }}</div>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header.image_fullwidth %}

<div id="masthead" class="ROYGBIV">
	<div id="big-title">CMI LAB</div>
	<div class="row">

<!-- CRUDE INSERT OF ROYGBIV -->
			<div id="ng-app-navigator" ng-app="navigator" ng-controller="NavigateController" ng-strict-di>

		<!--	<div id="header_n_label"> -->
				<div id="nav_label"></div>
			<!--	<div id="plot-canvas" style="width: 0px; height: 0px;"> </div> -->
		<!--	</div>  -->

			</div>
		<div id="nav-brain">


		
		</div>

		<script>
			angular.module('navigator', [])
			.controller('NavigateController', ['$scope', function($scope) {
                $scope.brain = new Brain({
                    divID: "nav-brain",  		/* div to render brain */
                    callback: function(mesh) {
                        		/* callback when a mesh is selected/deselected */
                        if (!mesh) {
                            	/* deselected: clear label & plot */
                            $scope.selectedLabel = "";
                          		/*  $('#plot-canvas').empty(); */
                        } else {
                            	/* selected: add label, do plot. */
                            $scope.selectedLabel = mesh.name;
                            console.log("label in angular module: " + mesh.name);
                            $("#nav_label").html(mesh.name);
                         /* 	do_boxplot("plot-canvas", mesh); */
                        }
                        $scope.$apply();
                    },
                    manifest_url: 'assets/data/lh_files_to_load_short.json',
                    label_mapper: 'assets/data/labels.json'
                });
			}]);
		</script>

		<!-- <div class="small-12 columns">
			<a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
				<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
			</a> 
		</div> --> <!-- /.small-12.columns --> 
	</div><!-- /.row -->
	<a data-scroll href="#below-splash" class="splash-scroll-down"><div ></div></a>
	<div id="below-splash" class="below-splash"></div>
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header.pattern %}

<div id="masthead-with-pattern" style="background: url('{{ site.urlimg }}/{{ page.header.pattern }}')">
	<div class="row">
		<figure class="small-12 columns">
			<img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
		</figure><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header.background-color %}

<div id="masthead-with-background-color" style="background: {{ page.header.background-color }};">
	<div class="row">
		<figure class="small-12 columns">
			<img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
		</figure><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header == false %}

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% endif %}