<div class="project-modal perma-content" id="{{ page.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true" style="position:relative; top:1ex;">
    <div class="modal-content">
        <a href="{{ site.url }}{{ site.baseurl }}">
        <div class="close-modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <div class="row justify-content-start">
                        <div class="col-md-6">
                          <a href="{{ site.baseurl }}{{ page.permalink }}"><img src="assets/img/people/{{ page.img }}" class="img-responsive" alt="{{ page.alt }}"></a>
                          <a href="{{ site.baseurl }}{{ page.permalink }}"><h2>{{ page.name }}</h2></a>
                          {% if page.description %}
                          {{ page.description }}
                          {% endif %}
                          {% if page.title1 %}
                          <p class="no-space-above-below text-muted">{{ page.title1 }}</p>
                          {% endif %}
                          {% if page.title2 %}
                          <p class="no-space-above-below text-muted">{{ page.title2 }}</p>
                          {% endif %}
                          {% if page.title3 %}
                          <p class="no-space-above-below text-muted">{{ page.title3 }}</p>
                          {% endif %}
                          {% if page.website %}
                          <p class="no-space-above-below text-muted"><a href="{{ page.website }}">{{ page.website }}</a></p>
                          {% endif %}
                          {% if page.email %}
                          <p class="no-space-above-below text-muted">{{ page.email }}</p>
                          {% endif %}
                          {% if page.phone %}
                          <p class="no-space-above-below text-muted">{{ page.phone }}</p>
                          {% endif %}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            {% assign cats = "device, app, informatics, voice" | split: ", " %}
                            {%- for category in cats -%}
                            <div class="row justify-content-start">
                            {%- for project in site.categories.project -%}
                            {%- for people in project.people -%}
                            {%- if (page.modal-id == people) and (project.categories contains category) -%}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 glyphs">
                              <a href="{{ site.url }}{{ site.baseurl }}{{ project.permalink }}">
                                <img src="{{ site.url }}{{ site.baseurl }}/assets/img/glyphs/{{- project.glyph -}}" />
                                <span class="github-name">{{- project.title -}}</span>
                              </a>
                            </div>
                            {%- endif -%}
                            {%- endfor -%}
                            {%- endfor -%}
                            </div>
                            {%- endfor -%}
                          </div>
                      </div>
                        <hr>
                        <p>{{ page.content }}</p>

                        <!--div class="post-categories">
                            {% if post %}
                            {% assign categories = page.categories %}
                            {% else %}
                            {% assign categories = page.categories %}
                            {% endif %}
                            {% for category in categories %}
                            <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                            {% unless forloop.last %}&nbsp;{% endunless %}
                            {% endfor %}
                        </div-->


                        <!--ul class="list-inline item-details">
                            <li>Date:
                                <strong><a href="">{{ page.date }}</a>
                                </strong>
                            </li>
                            <li>Publications:
                                <strong><a href="">{{ page.publications }}</a>
                                </strong>
                            </li>
                            <li>People:
                                <strong><a href="">{{ page.people }}</a>
                                </strong>
                            </li>
                        </ul-->

                        <a href="{{ site.url }}{{ site.baseurl }}"><button type="button" class="btn btn-default"><i class="fa fa-times"></i> Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
