
@font-face {
    font-family: Skolar-Regular;
    src: url(assets/fonts/SkolarLatinWeb-Regular.eot);
    src: url(assets/fonts/SkolarLatinWeb-Regular.eot?#iefix) format("embedded-opentype"), url(assets/fonts/SkolarLatinWeb-Regular.woff2) format("woff2"), url(assets/fonts/SkolarLatinWeb-Regular.woff) format("woff"), url(assets/fonts/SkolarLatinWeb-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Skolar-Italic;
    src: url(assets/fonts/SkolarLatinWeb-Italic.eot);
    src: url(assets/fonts/SkolarLatinWeb-Italic.eot?#iefix) format("embedded-opentype"), url(assets/fonts/SkolarLatinWeb-Italic.woff2) format("woff2"), url(assets/fonts/SkolarLatinWeb-Italic.woff) format("woff"), url(assets/fonts/SkolarLatinWeb-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Skolar-Bold;
    src: url(assets/fonts/SkolarLatinWeb-Bold.eot);
    src: url(assets/fonts/SkolarLatinWeb-Bold.eot?#iefix) format("embedded-opentype"), url(assets/fonts/SkolarLatinWeb-Bold.woff2) format("woff2"), url(assets/fonts/SkolarLatinWeb-Bold.woff) format("woff"), url(assets/fonts/SkolarLatinWeb-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Skolar-BoldItalic;
    src: url(assets/fonts/SkolarLatinWeb-BoldItalic.eot);
    src: url(assets/fonts/SkolarLatinWeb-BoldItalic.eot?#iefix) format("embedded-opentype"), url(assets/fonts/SkolarLatinWeb-BoldItalic.woff2) format("woff2"), url(assets/fonts/SkolarLatinWeb-BoldItalic.woff) format("woff"), url(assets/fonts/SkolarLatinWeb-BoldItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Skolar-Sans-Regular;
    src: url(assets/fonts/SkolarSansLatnWeb-Rg.eot);
    src: url(assets/fonts/SkolarSansLatnWeb-Rg.eot?#iefix) format("embedded-opentype"), url(assets/fonts/SkolarSansLatnWeb-Rg.woff2) format("woff2"), url(assets/fonts/SkolarSansLatnWeb-Rg.woff) format("woff"), url(assets/fonts/SkolarSansLatnWeb-Rg.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Skolar-Sans-Semibold;
    src: url(assets/fonts/SkolarSansLatnWeb-Sb.eot);
    src: url(assets/fonts/SkolarSansLatnWeb-Sb.eot?#iefix) format("embedded-opentype"), url(assets/fonts/SkolarSansLatnWeb-Sb.woff2) format("woff2"), url(assets/fonts/SkolarSansLatnWeb-Sb.woff) format("woff"), url(assets/fonts/SkolarSansLatnWeb-Sb.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}


body {
    font-family: Skolar-Regular, Georgia, Cambria, "Times New Roman", Times, serif
}

#mega-menu-wrap-header-menu #mega-menu-header-menu .widget_black_studio_tinymce .textwidget p,
.content-group p,
.content-group--bare p,
.content-group--multimods p,
.rte p,
.rte__aae-answer:before,
.search-results__summary,
.teaser--event__event-description p,
.teaser__summary,
html body .list__summary {
    font-family: Skolar-Regular, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.76;
    color: #090e3c
}

.cmisc-reg--winners-head h1,
.cmisc-voting-area .cmisc-nom__type,
.col-head__title,
.title {
    font-family: Skolar-Sans-Regular, Helvetica, Roboto, Arial, sans-serif;
    font-size: 31px;
    font-size: 1.9375rem;
    line-height: 1.12;
    color: #0067a0;
    margin-bottom: 1.875rem
}
@media only screen and (min-width: 64.0625em) {
    .cmisc-reg--winners-head h1,
    .cmisc-voting-area .cmisc-nom__type,
    .col-head__title,
    .title {
        font-size: 49px;
        font-size: 3.0625rem
    }
}
.col-head__subtitle,
.guide__intro,
.page-head__subtitle,
.subtitle,
html body .bio__prof-title {
    font-family: Skolar-Sans-Regular, Helvetica, Roboto, Arial, sans-serif;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.24;
    color: #7a807c;
    margin-bottom: 1.875rem
}
@media only screen and (min-width: 64.0625em) {
    .col-head__subtitle,
    .guide__intro,
    .page-head__subtitle,
    .subtitle,
    html body .bio__prof-title {
        font-size: 31px;
        font-size: 1.9375rem
    }
}
.intro,
html body .bio__institution {
    font-family: Skolar-Italic, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.76;
    color: #7a807c
}

#mega-menu-wrap-header-menu #mega-menu-header-menu .widget_black_studio_tinymce .textwidget h1,
.cmisc-reg--nominees-left h1:not(.cmisc-expand),
.cmisc-voting-area .cmisc-nom__header,
.content-group__subhead,
.rte h1,
html body .list-teasers__title,
html body .list__term-description h1,
html body .list__term-description h2,
html body .list__term-description h3,
html body .list__term-description h4,
html body .list__term-heading {
    font-family: Skolar-Sans-Semibold, Helvetica, Roboto, Arial, sans-serif;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #090e3c
}
@media only screen and (min-width: 64.0625em) {
    #mega-menu-wrap-header-menu #mega-menu-header-menu .widget_black_studio_tinymce .textwidget h1,
    .cmisc-reg--nominees-left h1:not(.cmisc-expand),
    .cmisc-voting-area .cmisc-nom__header,
    .content-group__subhead,
    .rte h1,
    html body .list-teasers__title,
    html body .list__term-description h1,
    html body .list__term-description h2,
    html body .list__term-description h3,
    html body .list__term-description h4,
    html body .list__term-heading {
        font-size: 24px;
        font-size: 1.5rem
    }
}
#mega-menu-wrap-header-menu #mega-menu-header-menu .widget_black_studio_tinymce .textwidget h2,
.cmisc-expander h2,
.cmisc-reg--sponsors a,
.cmisc-winner__type,
.rte .see-all,
.rte h2,
.see-all {
    font-family: Skolar-Sans-Semibold, Helvetica, Roboto, Arial, sans-serif;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.41;
    color: #090e3c;
    margin-bottom: .3125rem
}
@media only screen and (min-width: 64.0625em) {
    #mega-menu-wrap-header-menu #mega-menu-header-menu .widget_black_studio_tinymce .textwidget h2,
    .cmisc-expander h2,
    .cmisc-reg--sponsors a,
    .cmisc-winner__type,
    .rte .see-all,
    .rte h2,
    .see-all {
        font-size: 17px;
        font-size: 1.0625rem
    }
}
#mega-menu-wrap-header-menu #mega-menu-header-menu .widget_black_studio_tinymce .textwidget h3,
.cmisc-note,
.rte h3 {
    font-family: Skolar-Sans-Semibold, Helvetica, Roboto, Arial, sans-serif;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.41;
    color: #404341;
    margin-bottom: .3125rem
}
@media only screen and (min-width: 64.0625em) {
    #mega-menu-wrap-header-menu #mega-menu-header-menu .widget_black_studio_tinymce .textwidget h3,
    .cmisc-note,
    .rte h3 {
        font-size: 17px;
        font-size: 1.0625rem
    }
}

.taglist {
    padding: 1.25rem 0;
    border-top: 2px solid #e4e4e4;
    border-top: .125rem solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    border-bottom: .125rem solid #e4e4e4;
    color: #97e2ef;
    text-transform: uppercase;
    font-family: Skolar-Sans-Regular, Helvetica, Roboto, Arial, sans-serif
}
.taglist .taglist__tag,
.taglist a,
.taglist--bold,
.taglist-view-toggle {
    font-family: Skolar-Sans-Semibold, Helvetica, Roboto, Arial, sans-serif
}


/* NAVIGATION */
.top-bar-section ul li>a{
    font-family: Skolar-Sans-Regular,Helvetica,Roboto,Arial,sans-serif;
}