<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include slideshow.html %}
    {% include research.html %}
    {% include projects-head.html %}
    {% include devices.html %}
    {% include apps.html %}
    {% include informatics.html %}
    {% include voice.html %}
    {% include projects-foot.html %}
    {% include people.html %}
    {% include footer.html %}
    {% include project.html %}
    {% include person.html %}
    {% include js.html %}

    </body>
</html>